<div id="<%= dom_id article %>">
  <p>
    <strong>Feed:</strong>
    <%= article.feed_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= article.message %>
  </p>

  <p>
    <strong>Guid:</strong>
    <%= article.guid %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= article.symbol %>
  </p>

</div>
