<div id="<%= dom_id candle %>">
  <p>
    <strong>Ticker:</strong>
    <%= candle.ticker %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= candle.size %>
  </p>

  <p>
    <strong>Candle time:</strong>
    <%= candle.candle_time %>
  </p>

  <p>
    <strong>Open:</strong>
    <%= candle.open %>
  </p>

  <p>
    <strong>High:</strong>
    <%= candle.high %>
  </p>

  <p>
    <strong>Low:</strong>
    <%= candle.low %>
  </p>

  <p>
    <strong>Close:</strong>
    <%= candle.close %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= candle.volume %>
  </p>

</div>
