<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class='card'>
      <div class='card-header'>
        <div class='card-title'>
          <h6> TITLE </h6>
        </div>
      </div>
      <div class='card-body'>
        
        <%= simple_form_for(@candle) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
            <%= f.input :ticker %>
            <%= f.input :size %>
            <%= f.input :candle_time %>
            <%= f.input :open %>
            <%= f.input :high %>
            <%= f.input :low %>
            <%= f.input :close %>
            <%= f.input :volume %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
        <% end %>
      </div>
    </div>
