<div id="<%= dom_id company %>">
  <p>
    <strong>Uid:</strong>
    <%= company.uid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= company.symbol %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= company.sector %>
  </p>

  <p>
    <strong>Insdustry:</strong>
    <%= company.insdustry %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= company.country %>
  </p>

  <p>
    <strong>Pnl:</strong>
    <%= company.pnl %>
  </p>

</div>
