<div id="<%= dom_id ticker %>">
  <p>
    <strong>Symbol:</strong>
    <%= ticker.symbol %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ticker.name %>
  </p>

  <p>
    <strong>Market:</strong>
    <%= ticker.market %>
  </p>

  <p>
    <strong>Last price:</strong>
    <%= ticker.last_price %>
  </p>

  <p>
    <strong>Last price at:</strong>
    <%= ticker.last_price_at %>
  </p>

  <p>
    <strong>Last change percent:</strong>
    <%= ticker.last_change_percent %>
  </p>

  <p>
    <strong>Ask size:</strong>
    <%= ticker.ask_size %>
  </p>

  <p>
    <strong>Bid size:</strong>
    <%= ticker.bid_size %>
  </p>

  <p>
    <strong>Ask price:</strong>
    <%= ticker.ask_price %>
  </p>

  <p>
    <strong>Bid price:</strong>
    <%= ticker.bid_price %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= ticker.sector %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= ticker.industry %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= ticker.kind %>
  </p>

</div>
