<div id="<%= dom_id filter %>">
  <p>
    <strong>User:</strong>
    <%= filter.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= filter.name %>
  </p>

  <p>
    <strong>Price conditions:</strong>
    <%= filter.price_conditions %>
  </p>

  <p>
    <strong>Volume conditions:</strong>
    <%= filter.volume_conditions %>
  </p>

  <p>
    <strong>Fundamental conditions:</strong>
    <%= filter.fundamental_conditions %>
  </p>

  <p>
    <strong>Pattern conditions:</strong>
    <%= filter.pattern_conditions %>
  </p>

  <p>
    <strong>Indicator conditions:</strong>
    <%= filter.indicator_conditions %>
  </p>

  <p>
    <strong>Email notification:</strong>
    <%= filter.email_notification %>
  </p>

</div>
