<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class='card'>
      <div class='card-header'>
        <div class='card-title'>
          <h6> TITLE </h6>
        </div>
      </div>
      <div class='card-body'>
        
        <%= simple_form_for(@filter) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
            <%= f.input :user_id %>
            <%= f.input :name %>
            <%= f.input :price_conditions %>
            <%= f.input :volume_conditions %>
            <%= f.input :fundamental_conditions %>
            <%= f.input :pattern_conditions %>
            <%= f.input :indicator_conditions %>
            <%= f.input :email_notification %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
        <% end %>
      </div>
    </div>
